*{
    margin: 0px;
    padding: 0px;
    font-size: medium;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header Style */

#headerContainer > h1{
    letter-spacing: 0.5px;
    margin: 5px;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    padding: 10px;


}

#headerContainer > small{
    margin: 10px;
    font-size: medium;
    padding: 15px;

}
#headerContainer{
    margin: 20px;
    padding: 10px;
    box-shadow: 7px 4px rgb(10, 10, 10);
    border-radius: 10px;
    background-color: rgb(5, 239, 239);
    text-align: center;

}

#formContainer{
   margin: 20px;
    padding: 10px;
    box-shadow: 7px 4px rgb(5, 5, 5);
    border-radius: 10px;
    background-color:rgb(5, 239, 239);


}

#formContainer > #studentForm > .input-field{
    display: flex;
    flex-direction: column;

}


#formContainer > #studentForm > .input-field > label{
    display: block;
    margin-bottom: 5px;
    border-radius: 4px;
    flex-direction: column;

}

#formContainer > #studentForm > .input-field > input{
    width: 100%
    padding; 10px;
    border: 5px solid #ccc;
    border-radius: 5px;
    
}


#formContainer button{
    margin-top: 10px;
    background-color:rgb(0, 0, 0);
    color: rgb(5, 239, 239);
    padding: 10px 20px;
   border: 2px solid white;
    border-radius: 5px;
    font-size: 15px;
}
#formContainer button:hover{
    background-color: white;
    transform: scale(1.03);
    transition: 0.2s ease;
    cursor: pointer;
}
button{
    margin-top: 10px;
    background-color:rgb(0, 0, 0);
    color: rgb(5, 239, 239);
    padding: 10px 20px;
   border: 2px solid white;
    border-radius: 5px;
    font-size: 15px;
}

#listContainer > .list-item{


}

#listContainer > .list-item > h2{

    
}

#listContainer > .list-item > p{

}

#listContainer > .list-item > button{

}
#listContainer > .list-item > button:hover{
    

}

#listContainer{
    display: flex;
    grid-template-columns: repeat(12, 1fr);

}
@media (width <= 320px){
    #listContainer > .list-item{
        grid-column: span 12;
    }
}
@media (width <= 1000px){
    #listContainer > .list-item{
        grid-column: span 2;
    }
}
@media (width <= 320px) and (width <= 100px){
    #listContainer > .list-item{
        grid-column: span 4;
    }
}
